---
title: Le Wagon - Middleman - About
---

    <div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
    <ul class="list-inline">
        <li>
<a href="https://kitt.lewagon.com/alumni/EliseS1" target="_blank">            <img src="https://3.bp.blogspot.com/-Q2vkSJkl1gU/WlzA5FKTLlI/AAAAAAAAgDI/HTlo613fB449dvLtluAR_yN8ywMiluqAACLcBGAs/s640/tigre.jpg" class="img-circle" alt="Ssaunier" />
</a>          <h2>Elise Serres </h2>
          <p>
<a href="https://github.com/ssaunier" target="_blank">              <i class="fa fa-github"></i> ssaunier
</a>          </p>
        </li>
        <li>
<a href="https://kitt.lewagon.com/alumni/Papillard" target="_blank">            <img src="https://kitt.lewagon.com/placeholder/users/Papillard" class="img-circle" alt="Papillard" />
</a>          <h2>Boris Paillard</h2>
          <p>
<a href="https://github.com/Papillard" target="_blank">              <i class="fa fa-github"></i> Papillard
</a>          </p>
        </li>
    </ul>
  </div>
</div>
